/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/
.container {
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
}

.picture {
	width: 100%;
	background-color: yellow;
	background-image: url(../img/picture1920.jpg);
	background-size: cover;
	min-height: 20em;
	margin-bottom: 1em;
}

.headline {
	font-family: 'IBM Plex Serif', serif;
	font-size: 4em;
	font-size: 8vw;
    color: white;
	text-align: center;
	line-height: 1em;
	margin: 0em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.titlebar {
	background-color: yellow;
	text-align: center;
	min-height: 1em;
	font-size: 3em;
	font-size: 3vh;
	margin-top: -3vh;
}

.articles {
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2em;
}

.post {
	font-size: 2em;
	font-size: 5vw;
	text-align: center;
    line-height: 1em;
    margin-top: -0.25em;
}

.date {
	text-align: right;
    font-size: 1.5em;
}

.postdate{
    font-size: 1.5em;
}

.posttitle {
    font-size: 3em;
    line-height: normal;
}

.description {
    border-bottom: 5px solid #eee;
}

.blogpost {
    margin-left: 3em;
    margin-right: 3em;
}

.content {
    font-size: 1.25em;
}

@media (min-width: 600px){

	.headline{
		/*font-size: 7em;*/
		padding-top: 1em;
		padding-bottom: 1em;

	}

	.articles {
		margin-left: 30%;
		margin-right: 30%;
	}

	.blogpost {
		display: grid;
		grid-template-columns: 1fr .5fr 1fr 1fr;
	}
    
    .postdate {
        grid-column: 1/2;
    }
    
    .posttitle {
        grid-column: 1/2;
    }
    
    .content {
        grid-column: 3/ span 2;
    }
    

}
